<html>
	<body> 
		@{
			if (IsPost) { 
				string num1 = Request["num1"]; 
				string num2 = Request["num2"]; 
				int newNum1 = Int32.Parse(num1);
				int newNum2 = Int32.Parse(num2);
				
				string message = " ";
				if(newNum1 > newNum2){
					message = "Guess was too low, guess higher";
					}
					<p> @message</p>
				

		}
		else
		{
			<form method="post" action="">
				<h1> Welcome to my wonderful game of guess!</h1>
				Player 1: Enter a number[0-10] <br />
				<input type="password" name="num1" value="" /><br />
				Player 2: Guess the number <br />
				<input type="text" name="num2" value="" /><br /><br />
				<input type="submit" value="Submit" class="submit" />
			</form>
		}
		} 
	</body> 
</html>