@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
}

@section featured {
        <p>QOTD: An apple a day keeps the professional diver away!</p>
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@Page.Title.</h1>
                <h2>This is my page!</h2>
            </hgroup>
        </div>
    </section>
}

<h3>My guessing game takes an input from player 1, validates it, and checks the input with player 2. It gives feedback to player 2 on how they did.</h3>

