<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a8c3f1f4-f6ff-47b0-9fc8-aea631ad5da1/resourceGroups/18S240AM/providers/Microsoft.Web/sites/18S240AM</ResourceId>
    <ResourceGroup>18S240AM</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://18s240am.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>18s240am.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>18S240AM</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$18S240AM</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BookContext" Order="1" Enabled="False">
          <Destination Path="Data Source=thedonofalldons.database.windows.net;Initial Catalog=theBaseOfData;Persist Security Info=True;User ID=ayemoney24;Password=Poptarts97" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=thedonofalldons.database.windows.net;Initial Catalog=theBaseOfData;Persist Security Info=True;User ID=ayemoney24;Password=Poptarts97" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\BookContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=thedonofalldons.database.windows.net;            Initial Catalog=theBaseOfData;            Persist Security Info=True;            User ID=ayemoney24;            Password=Poptarts97" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="BookContext-Web.config Connection String">
      <ParameterValue>Data Source=thedonofalldons.database.windows.net;Initial Catalog=theBaseOfData;Persist Security Info=True;User ID=ayemoney24;Password=Poptarts97</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>